{% extends "base.html" %}

{% block content %}
<h1>Create New User</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {% with %}
    {% set form_element = form.username %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.full_name %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.email %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.password %}
    {% include "_password_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.password2 %}
    {% include "_password_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-primary">Create User</button>
</form>
{% endblock %}
