{% extends "base.html" %}

{% block content %}
<h3>User Deletion</h3>
<p>Are you sure you want to permanently remove <b>{{ user.full_name }}</b> a.k.a. <b>{{ user.username }}</b>?</p>

{% with %}
{% set id=user.username %}
{% set url=url_for('admin.users') %}
{% set text="Delete User" %}
{% set timeout=3000 %}
{% include "_confirm_delete_button.html" %}
{% endwith %}
{% endblock %}

{% block scripts %}
<ajax_url id="confirm-delete" url="{{ url_for('admin.confirm_delete_user') }}" csrf_token="{{ csrf_token() }}" />

<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock %}
