{% extends "base.html" %}

{% block content %}
<h3>User Deletion</h3>
<p>Are you sure you want to permanently remove <b>{{ user.full_name }}</b> a.k.a. <b>{{ user.username }}</b>?</p>
<!-- ajax -->
<button type="button" class="btn btn-danger confirm-delete" data-username="{{ user.username }}"
    data-username="{{ url_for('admin.users') }}" disabled>
    <div class="spinner-border spinner-border-sm on-loads default-inline"></div>
    <div class="button-text default-inline">Loading...</div>
</button>
{% endblock %}

{% block scripts %}
<ajax_url id="confirm-delete" url="{{ url_for('admin.confirm_delete') }}" />

<script type="module" src="{{ url_for('static', filename='js/delete_user.js') }}"></script>
{% endblock %}
