{% extends "base.html" %}

{% block content %}
<h1>User Overview</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">full_name</th>
            <th scope="col">last seen</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
                <div class="is-admin {% if not user.is_admin%}default-hidden{% else %}default-inline{% endif %}"
                    data-username="{{ user.username }}">👑</div>
                <div class="is-author {% if not user.is_author%}default-hidden{% else %}default-inline{% endif %}"
                    data-username="{{ user.username }}">📕</div>
            </td>
            <td>
                {{ user.full_name }}
            </td>
            <td>
                <div class="moment-from-now" data-time="{{ user.last_seen }}"></div>
            </td>

            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-primary button-link"
                    data-url="{{ url_for('auth.settings', username=user.username) }}">
                    Change Settings
                </button>
            </td>
            <td>
                {% if not user.is_author %}
                <!-- ajax -->
                <button type="button" class="btn btn-warning toggle-author" data-username="{{ user.username }}"
                    data-status="false">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Make Author</div>
                </button>
                {% else %}
                <!-- ajax -->
                <button type="button" class="btn btn-warning toggle-author" data-username="{{ user.username }}"
                    data-status="true">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Revoke Author</div>
                </button>
                {% endif %}
            </td>
            <td>
                {% if not user.is_admin %}
                <!-- ajax -->
                <button type="button" class="btn btn-warning toggle-admin" data-username="{{ user.username }}"
                    data-status="false">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Make Admin</div>
                </button>
                {% else %}
                <!-- ajax -->
                <button {% if user==current_user %}disabled{% endif %} type="button"
                    class="btn btn-warning toggle-admin" data-username="{{ user.username }}" data-status="true">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Revoke Admin</div>
                </button>
                {% endif %}
            </td>
            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-danger button-link"
                    data-url="{{ url_for('admin.delete_user', username=user.username) }}">
                    Delete User
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Users Pagination">
    <ul class="pagination">
        <li class="page-item {% if not prev_url %}disabled{% endif %}"><a class="page-link"
                href="{{ url_for('admin.users', page=1) }}">1</a></li>
        <li class="page-item {% if not prev_url %}disabled{% endif %}"><a class="page-link"
                href="{{ prev_url }}">Previous</a></li>
        <li class="page-item {% if not next_url %}disabled{% endif %}"><a class="page-link"
                href="{{ next_url }}">Next</a></li>
        <li class="page-item {% if not next_url %}disabled{% endif %}"><a class="page-link"
                href="{{ url_for('admin.users', page=amount_pages) }}">{{ amount_pages }}</a></li>
    </ul>
</nav>
{% endblock %}

{% block scripts %}
<ajax_url id="set-admin" url="{{ url_for('admin.set_admin') }}" />
<ajax_url id="set-author" url="{{ url_for('admin.set_author') }}" />

<script type="module" src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
