{% extends "base.html" %}

{% block content %}
<h3>User Overview</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">last seen</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
                <div class="is-admin {% if not user.is_admin%}default-hidden{% else %}default-inline{% endif %}"
                    data-username="{{ user.username }}">👑</div>
                <div class="is-author {% if not user.is_author%}default-hidden{% else %}default-inline{% endif %}"
                    data-username="{{ user.username }}">📕</div>
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                <div class="moment-from-now" data-time="{{ user.last_seen }}">{{ user.last_seen }}</div>
            </td>

            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-primary button-link"
                    data-url="{{ url_for('admin.change_password', username=user.username) }}">
                    Change Password
                </button>
            </td>
            <td>
                {% if not user.is_author %}
                <!-- ajax -->
                <button type="button" class="btn btn-warning toggle-author" data-username="{{ user.username }}"
                    data-status="false">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Make Author</div>
                </button>
                {% else %}
                <!-- ajax -->
                <button type="button" class="btn btn-warning toggle-author" data-username="{{ user.username }}"
                    data-status="true">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Revoke Author</div>
                </button>
                {% endif %}
            </td>
            <td>
                {% if not user.is_admin %}
                <!-- ajax -->
                <button type="button" class="btn btn-warning toggle-admin" data-username="{{ user.username }}"
                    data-status="false">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Make Admin</div>
                </button>
                {% else %}
                <!-- ajax -->
                <button {% if user==current_user %}disabled{% endif %} type="button"
                    class="btn btn-warning toggle-admin" data-username="{{ user.username }}" data-status="true">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Revoke Admin</div>
                </button>
                {% endif %}
            </td>
            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-danger button-link"
                    data-url="{{ url_for('admin.delete_user', username=user.username) }}">
                    Delete User
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Create New User</h3>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}

{% block scripts %}
<ajax_url id="set-admin" url="{{ url_for('admin.set_admin') }}" />
<ajax_url id="set-author" url="{{ url_for('admin.set_author') }}" />

<script type="module" src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
