{% extends "base.html" %}

{% block content %}
<h1>User Overview</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Full Name</th>
            <th scope="col">Last Seen</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
                <div class="is-admin {% if not user.is_admin %}default-hidden{% else %}default-inline{% endif %}"
                    data-id="{{ user.username }}">👑</div>
                <div class="is-author {% if not user.is_author %}default-hidden{% else %}default-inline{% endif %}"
                    data-id="{{ user.username }}">📕</div>
            </td>
            <td>
                {{ user.full_name }}
            </td>
            <td>
                <div class="moment-from-now" data-time="{{ user.last_seen }}"></div>
            </td>

            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-primary button-link"
                    data-url="{{ url_for('auth.settings', username=user.username) }}">
                    Change Settings
                </button>
            </td>
            <td>
                {% with %}
                {% set class="btn-warning toggle-author" %}
                {% set status=user.is_author %}
                {% set true_text="Revoke Author" %}
                {% set false_text="Make Author" %}
                {% set data={"username":user.username} %}
                {% include "_toggle_button.html" %}
                {% endwith %}
            </td>
            <td>
                {% with %}
                {% set class="btn-warning toggle-admin" %}
                {% set status=user.is_admin %}
                {% set true_text="Revoke Admin" %}
                {% set false_text="Make Admin" %}
                {% set data={"username":user.username} %}
                {# can't revoke one self #}
                {% set disabled=user == current_user %}
                {% include "_toggle_button.html" %}
                {% endwith %}
            </td>
            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-danger button-link"
                    data-url="{{ url_for('admin.delete_user', username=user.username) }}">
                    Delete User
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% with %}
{% set address="admin.users" %}
{% include "_pagination_links.html" %}
{% endwith %}

{% endblock %}

{% block scripts %}
<ajax_url id="set-admin" url="{{ url_for('admin.set_admin') }}" />
<ajax_url id="set-author" url="{{ url_for('admin.set_author') }}" />

<script type="module" src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
