{% extends "base.html" %}

{% block content %}

<h1>Articles</h1>
{% for article in articles %}
<div class="card mb-3">
    <!-- <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="card-img-top" alt="..." /> -->
    <div class="card-body">
        <a
            href="{{ url_for('main.article', internal_name=article.internal_name, token=article.gen_auth_token()) if article.unlisted else url_for('main.article', internal_name=article.internal_name) }}">
            <h5 class="card-title">{{ article.title }}</h5>
        </a>
        {% if article.subtitle %}<h5 class="card-subtitle">{{ article.subtitle }}</h5>{% endif %}
        <p class="card-text">
            <small class="text-muted">
                {% if article.unlisted %}unlisted{% endif %}
                By {{ article.get_authors() }}<br />
                Created <span class="moment-from-now default-inline" data-time="{{ article.created_on }}"></span><br />
                Last modified <span class="moment-from-now default-inline"
                    data-time="{{ article.last_modified }}"></span>
            </small>
        </p>
    </div>
</div>
{% endfor %}

{% with %}
{% set address="main.articles" %}
{% include "_pagination_links.html" %}
{% endwith %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/article_overview.js') }}"></script>
{% endblock %}
