{% extends "base.html" %}

{% block content %}
<h1>Create Article</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% with %}
    {% set form_element = form.title %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.internal_name %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.source %}
    {% include "_file_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-primary">Create Article</button>
</form>
{% endblock %}
