{% extends "base.html" %}

{% block content %}
<h3>Article Deletion</h3>
<p>Are you sure you want to permanently remove <b>{{ resource.filename }}</b> from article <b>{{
        resource.article.internal_name }}</b>?</p>

{% with %}
{% set id=resource.id %}
{% set url=url_for('main.edit_article', internal_name=resource.article.internal_name) %}
{% set text="Delete Resource" %}
{% include "_confirm_delete_button.html" %}
{% endwith %}
{% endblock %}

{% block scripts %}
<ajax_url id="confirm-delete" url="{{ url_for('main.confirm_delete_resource') }}" csrf_token="{{ csrf_token() }}" />

<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock %}
