{% extends "base.html" %}

{% block content %}
{#
- authors
- references
- resources
- used extras
#}

{# metadata #}
<form action="" method="post">
    {{ metadata_form.hidden_tag() }}

    {% with %}
    {% set form_element = metadata_form.title %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = metadata_form.subtitle %}
    {% set optional = True %}
    {% include "_text_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-primary">Update Metadata</button>
</form>

{# source update #}
<form action="" method="post" enctype="multipart/form-data">
    {{ update_source_form.hidden_tag() }}

    {% with %}
    {% set form_element = update_source_form.source %}
    {% include "_file_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-warning">Update Article</button>
</form>
<hr>

{# delete #}
<button type="button" class="btn btn-danger button-link"
    data-url="{{ url_for('main.delete_article', internal_name=article.internal_name) }}">
    Delete Article
</button>
<hr>

{# preview #}
<h1>{{ article.title }}—Preview</h1>
{% if article.subtitle %}<h3>{{ article.subtitle }}</h3>{% endif %}
<i>By {{ article.get_authors() }}</i><br />
<hr>
{{ article.html|safe }}

{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/edit_article.js') }}"></script>
{% endblock %}
