{% extends "base.html" %}

{% block content %}
{#
- references
- resources
- used extras
#}
<h1>Edit <a
        href="{{ url_for('main.article', internal_name=article.internal_name, token=article.gen_auth_token()) if article.unlisted else url_for('main.article', internal_name=article.internal_name) }}">{{
        article.title }} ({% if article.unlisted %}unlisted{% else %}listed{% endif %})</a></h1>
<hr>

{% with %}
{% set class="btn-danger toggle-unlisted" %}
{% set status=article.unlisted %}
{% set true_text="List Article" %}
{% set false_text="Unlist Article" %}
{% set data={"internal_name": article.internal_name} %}
{% include "_toggle_button.html" %}
{% endwith %}
<hr>

<form action="" method="post">
    {{ metadata_form.hidden_tag() }}

    {% with %}
    {% set form_element = metadata_form.title %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = metadata_form.subtitle %}
    {% set optional = True %}
    {% include "_text_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-primary">Update Metadata</button>
</form>
<hr>

<h3>Authors</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Full Name</th>
            <th scope="col">Last Seen</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
                <div class="is-author {% if not article.is_author(user) %}default-hidden{% else %}default-inline{% endif %}"
                    data-id="{{ user.username }}">📕</div>
            </td>
            <td>
                {{ user.full_name }}
            </td>
            <td>
                <div class="moment-from-now" data-time="{{ user.last_seen }}"></div>
            </td>

            <td>
                {% with %}
                {% set class="btn-warning toggle-author" %}
                {% set status=article.is_author(user) %}
                {% set true_text="Revoke Author" %}
                {% set false_text="Make Author" %}
                {% set data={"username": user.username, "internal_name": article.internal_name} %}
                {# can't revoke one self, but can give #}
                {% set disabled=user == current_user and article.is_author(current_user) %}
                {% include "_toggle_button.html" %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% with %}
{% set address="main.edit_article" %}
{% set address_options={ "internal_name": article.internal_name } %}
{% include "_pagination_links.html" %}
{% endwith %}
<hr>

{# resources control #}
<h3>Resources</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Filename</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for resource in article.resources %}
        <tr>
            <td>
                {% if article.unlisted %}
                <a
                    href="{{ url_for('main.article_data', internal_name=article.internal_name, filename=resource.filename, token=article.gen_auth_token()) }}">{{
                    resource.filename }}</a>
                {% else %}
                <a
                    href="{{ url_for('main.article_data', internal_name=article.internal_name, filename=resource.filename) }}">{{
                    resource.filename }}</a>
                {% endif %}
            </td>

            <td>
                <button type="button" class="btn btn-danger button-link"
                    data-url="{{ url_for('main.delete_resource', internal_name=article.internal_name, filename=resource.filename) }}">
                    Delete Resource
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="" method="post" enctype="multipart/form-data">
    {{ upload_resources_form.hidden_tag() }}

    {% with %}
    {% set form_element = upload_resources_form.resources %}
    {% set multiple = True %}
    {% include "_file_input.html" %}
    {% endwith %}
    <button type="submit" class="btn btn-primary">Upload New Resources</button>
</form>
<hr>

{# source update #}
<form action="" method="post" enctype="multipart/form-data">
    {{ update_source_form.hidden_tag() }}

    {% with %}
    {% set form_element = update_source_form.source %}
    {% include "_file_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-warning">Update Article</button>
</form>
<pre><code>{{ article.source }}</code></pre>
<hr>

{# delete #}
<button type="button" class="btn btn-danger button-link"
    data-url="{{ url_for('main.delete_article', internal_name=article.internal_name) }}">
    Delete Article
</button>
{% endblock %}

{% block scripts %}
<ajax_url id="set-unlisted" url="{{ url_for('main.set_unlisted') }}" csrf_token="{{ csrf_token() }}" />
<ajax_url id="set-author" url="{{ url_for('main.set_author') }}" csrf_token="{{ csrf_token() }}" />

<script src="{{ url_for('static', filename='js/edit_article.js') }}"></script>
{% endblock %}
