{% extends "base.html" %}

{% block content %}
<h1>Welcome to Project Omega!</h1>
<p>
    This Website is under active construction by <a href="https://github.com/christopher-besch">Christopher
        Besch</a>.
    <br />
    If you encounter any bugs, security issues or anything you would like be added, open an issue on <a
        href="https://github.com/christopher-besch/project_omega">https://github.com/christopher-besch/project_omega</a>.
</p>

{% if current_user.is_anonymous %}
<h3>You are not logged in.</h3>
{% else %}
<h3>You are logged in as {{ current_user.username }}.</h3>
{% if current_user.is_admin %}
You are an admin.<br />
{% endif %}
{% if current_user.is_author %}
You are an author.<br />
{% endif %}
{% endif %}
{% endblock %}
