/* move content down <- fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

.default-hidden {
    display: none;
}

.default-inline {
    display: inline-block;
}

video {
    padding-bottom: 1rem;
}
