{% extends "base.html" %}

{% block content %}

<a type="button" class="btn btn-info" href="{{ url_for('admin.create_user') }}">Create New User</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">last seen</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}{% if user.is_admin %}👑{% endif %}
            </td>
            <td>
                {{ moment(user.last_seen).fromNow() }}
            </td>

            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-primary button-link"
                    data-url="{{ url_for('admin.change_password', username=user.username) }}">
                    Change Password
                </button>
            </td>
            <td>
                <!-- ajax -->
                {% if not user.is_admin %}
                <button type="button" class="btn btn-warning make-admin" data-username="{{ user.username }}">
                    <span class="spinner-border spinner-border-sm on-loading" style="display: ;"></span>
                    <span class="on-loading" style="display: none;">Loading...</span>
                    Make Admin
                </button>
                {% else %}
                <!-- ajax -->
                <button {% if user==current_user %}disabled{% endif %} type="button"
                    class="btn btn-warning revoke-admin" data-username="{{ user.username }}">
                    <span class="spinner-border spinner-border-sm on-loading"></span>
                    <span class="on-loading">Loading...</span>
                    Revoke Admin
                </button>
                {% endif %}
            </td>
            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-danger button-link"
                    data-url="{{ url_for('admin.delete_user', username=user.username) }}">
                    Delete User
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<ajax_url id="set-admin" url="{{ url_for('admin.set_admin') }}" />

<script type="module" src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
