{% extends "base.html" %}

{% block content %}
<a type="button" class="btn btn-info" href="{{ url_for('admin.create_user') }}">Create New User</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">last seen</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
                <div class="is-admin {% if not user.is_admin%}default-hidden{% else %}default-inline{% endif %}"
                    data-username="{{ user.username }}">👑</div>
            </td>
            <td>
                {{ moment(user.last_seen).fromNow() }}
            </td>

            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-primary button-link"
                    data-url="{{ url_for('admin.change_password', username=user.username) }}">
                    Change Password
                </button>
            </td>
            <td>
                {% if not user.is_admin %}
                <!-- ajax -->
                <button type="button" class="btn btn-warning toggle-admin" data-username="{{ user.username }}"
                    data-status="false">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Make Admin</div>
                </button>
                {% else %}
                <!-- ajax -->
                <button {% if user==current_user %}disabled{% endif %} type="button"
                    class="btn btn-warning toggle-admin" data-username="{{ user.username }}" data-status="true">
                    <div class="spinner-border spinner-border-sm on-loads default-hidden"></div>
                    <div class="button-text default-inline">Revoke Admin</div>
                </button>
                {% endif %}
            </td>
            <td>
                <button {% if user==current_user %}disabled{% endif %} type="button" class="btn btn-danger button-link"
                    data-url="{{ url_for('admin.delete_user', username=user.username) }}">
                    Delete User
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<ajax_url id="set-admin" url="{{ url_for('admin.set_admin') }}" />

<script type="module" src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
