{% extends "base.html" %}

{% block content %}

<a type="button" class="btn btn-info" href="{{ url_for('admin.create_user') }}">Create New User</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">last seen</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
                {% if user.is_admin %}👑{% endif %}
            </td>

            <td>
                {{ moment(user.last_seen).fromNow() }}
            </td>

            <td>
                <a type="button" class="btn btn-primary"
                    href="{{ url_for('auth.change_password', username=user.username) }}">Change
                    Password</a>
            </td>
            <td>
                {% if not user.is_admin %}
                <button type="button" class="btn btn-warning make-admin" data-username="{{ user.username }}">Make
                    Admin</button>
                {% elif user != current_user %}
                <button type="button" class="btn btn-warning revoke-admin" data-username="{{ user.username }}">Revoke
                    Admin</button>
                {% else %}
                <button type="button" class="btn btn-warning" disabled>Revoke Admin</button>
                {% endif %}
            </td>
            <td>
                {% if user.username != current_user.username %}
                <a type="button" class="btn btn-danger"
                    href="{{ url_for('admin.delete_user', username=user.username) }}">Delete
                    User</a>
                {% else %}
                <button type="button" class="btn btn-danger" disabled>Delete User</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<ajax_url id="set_admin_ajax" url="{{ url_for('admin.set_admin') }}" />
<script type="module" src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
