{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {% with %}
    {% set form_element = form.username %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.password %}
    {% include "_password_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = form.remember_me %}
    {% include "_boolean_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
{% endblock %}
