{% extends "base.html" %}

{% block content %}
{% if user == current_user %}
<h1>Change Your Settings</h1>
{% else %}
<h1>Change Settings of <b>{{ user.username }}</b></h1>
{% endif %}
<form action="" method="post">
    {{ settings_form.hidden_tag() }}

    {% with %}
    {% set form_element = settings_form.full_name %}
    {% include "_text_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = settings_form.email %}
    {% include "_text_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-primary">Save Settings</button>
</form>

<form action="" method="post">
    {{ change_password_form.hidden_tag() }}

    {% with %}
    {% set form_element = change_password_form.password %}
    {% include "_password_input.html" %}
    {% endwith %}

    {% with %}
    {% set form_element = change_password_form.password2 %}
    {% include "_password_input.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-warning">Change Password</button>
</form>
{% endblock %}
