{# required: form_element: StringField
optional: optional = False #}
<div class="form-group">
    <label for="{{ form_element.id }}-form">{{ form_element.label.text }}</label>
    <input type="text" class="form-control {% if form_element.errors|length != 0 %}is-invalid{% endif %}"
        id="{{ form_element.id }}-form" name="{{ form_element.id }}" {% if not optional %}required{% endif %}
        value="{{ form_element.data if form_element.data else '' }}">
    {% for error in form_element.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
