<!DOCTYPE html !ATTLIST tag ajax_url url CDATA #REQUIRED>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Project Omega">
    {% if author %}
    <meta name="author" content="{{ author }}">
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    {% if title %}
    <title>{{ title }} - Project Omega</title>
    {% else %}
    <title>Project Omega</title>
    {% endif %}

    {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Project Omega</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="pt-3" role="main">
        <div class="container">
            <!-- flashes -->
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% with category_alias = { "info": "info", "warning": "warning", "error": "danger" } %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category_alias[category] }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}
            {% endwith %}

            <!-- main block -->
            {% block content %}{% endblock %}
            <hr>
        </div>
    </main>

    <!-- footer -->
    <footer class="container">
        <p>&copy; Christopher Besch 2021</p>
    </footer>

    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap-native.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/momentjs/moment.min.js') }}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>
