<!DOCTYPE html !ATTLIST tag ajax_url url CDATA #REQUIRED>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Project Omega">
    {% if author %}
    <meta name="author" content="{{ author }}">
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    {% if title %}
    <title>{{ title }} - Project Omega</title>
    {% else %}
    <title>Project Omega</title>
    {% endif %}

    {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Project Omega</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.articles') }}">Articles</a>
                </li>

                {% if not current_user.is_anonymous %}
                {% if current_user.is_admin %}
                <!-- admin controls -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-admin-dropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbar-admin-dropdown">
                        <a class="dropdown-item" href="{{ url_for('admin.users') }}">Users</a>
                        <a class="dropdown-item" href="{{ url_for('admin.create_user') }}">Create User</a>
                    </div>
                </li>
                {% endif %}

                {% if current_user.is_author %}
                <!-- author control -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-admin-dropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Author
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbar-admin-dropdown">
                        <a class="dropdown-item" href="{{ url_for('main.create_article') }}">Create Article</a>
                    </div>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.change_password') }}">Settings</a>
                </li>
                {% endif %}

                <!-- login/logout -->
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="pt-3" role="main">
        <div class="container">
            <!-- flashes -->
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% with category_alias = { "info": "info", "warning": "warning", "error": "danger" } %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category_alias[category] }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}
            {% endwith %}

            <!-- main block -->
            {% block content %}{% endblock %}
            <hr>
        </div>
    </main>

    <!-- footer -->
    <footer class="container">
        <p>&copy; Christopher Besch 2021</p>
    </footer>

    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap-native.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/momentjs/moment.min.js') }}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>
